html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(80deg, #000000c0 50%, #000000c9 50%);
    min-height: 1000px;
    color: rgb(151, 211, 211);
    text-decoration-color: azure;
    font-family: 'helvetica neue';
    padding: 0 15rem;

}
    
a {
    color: rgb(219, 217, 191);
    
}
a:hover{
    color: rgb(175, 82, 70);
}
a:active{
    color: aquamarine;
}

p{
    margin: 0;
    padding: 0;
}

    /* class */
.hd, h2 {
    text-align: center;
    
}

.date {
    float: right;
}

.edu {
    margin-bottom: 2px;
}

.lik {
  float: right;
    
}

.num {
    display: inline;
    float: right;
    padding: 0;
    margin: 0;
}


.contact {
    margin: 0;
    padding: 0;
    color: rgb(247, 86, 126);
}
.hd:hover {
    color: rgb(255, 255, 255);
}
.hd:active {
    color: #c72b2bc0;
}
